* {
  font-family: 'Courgette', cursive;
  color: #FFFFFF;
}

body {
  background-color: #0B6B73;
}

a, a:hover, a:visited, a:active, a:link {
  color: #DFB883;
  text-decoration: none;
}

h1 {
  font-size: 150%;
  font-family: 'Courgette', cursive;
  color: #DFB883;
}

h2 {
  font-family: 'Courgette', cursive;
  font-size: 125%;
  color: #DFB883;
}

h3 {
  font-size: 110%;
  font-family: 'Courgette', cursive;
  color: #DFB883;
}
  
.well {
  background-color: #097B85;
}

header nav ul.social {
  margin-right: 10px;
}

header nav ul.social li {
  font-size: 120%;
  margin: 0px;
  text-decoration: none;
}

.navbar-link li a, .navbar-brand {
  font-family: 'Roboto-Slab', sans-serif;
}

.unpublished q, .unpublished time {
  color: red;
}

.progress-text {
  float: left;
  text-align: left; 
}

.progress-bar {
  font-family: 'Source Sans Pro', sans-serif;
}

.progress-amount {
  text-align: right;
}

.label {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
