        <!-- LABELS -->
        <div class="well well-sm">
          <p>Labels</p>
          <span class="label label-default">Default</span>
          <span class="label label-primary">Primary</span>
          <span class="label label-success">Success</span>
          <span class="label label-info">Info</span>
          <span class="label label-warning">Warning</span>
          <span class="label label-danger">Danger</span>
        </div>

        <!-- SUPPORTERS -->
        <div class="well well-sm">
          <p>Our Supporters</p>
        </div>

      </div>  <!-- Closing Left col-sm-2 -->