<!-- TWITTER STREAM -->
        <div class="well well-sm">
          <a class="twitter-timeline"
            width="300"
            data-chrome="nofooter noscrollbar noborders transparent"
            data-tweet-limit="3"
            href="https://twitter.com/luthien_azaelia" data-widget-id="734549002075688960">Tweets by @luthien_azaelia</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
